<!DOCTYPE html>
<html>
<head>
	<title>Smart Home</title>
	<link rel="stylesheet" type="text/css" href="indexStyle.css"> 
</head>
<body>
<div class="loginBox">
	<p class="signIn"><a href="/user/login">Sign in</a></p>
</div>
</body>
</html>