<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Area</title>
</head>
<body>
	<form action="/area/AddArea" method="post">
		Name: <input type="text" name="Name" required />
		Type: <input type="text" name="Type" required/>
		Description: <input type="text" name="Description" required/>
		<input type="submit" name="submit" />
	</form>
</body>
</html>